html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  overflow-x: hidden;
  background-color: #141c30;
  font-family: $FontUbuntu;
}
button {
  background: 0 0;
  border: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

// Flexbox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-sa {
    justify-content: space-around;
  }
  &-ai-c {
    align-items: center;
  }
  &-ai-c-end {
    align-items: flex-end;
  }
  &-jc-c {
    justify-content: center;
  }
}
// Visibility
.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
  }
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
